:root{
    --spaceship: white;
    --alien1: cyan;
}

body {
    background-color: red;
    height: '13300px impo !important';
    display: block;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

#arcade{
    position: fixed;
    display: grid;
    grid-template: 10vh auto 20vh / 100%;
    width: 100vw;
    height: 100vh;
    background-color: purple;
    top: 0;
    margin:0;
}

header{
    grid-row: 1;
    background-color: seagreen;
    text-align: center;
}
main{
    grid-row: 2;
    display: flex;
    justify-content: center;
}

footer {
    padding-top: 2rem;
    grid-row: 3;
    background-color:yellowgreen;
    text-align: center;
}

footer button{
    font-size: 1.5rem;
}

#play-area {
    background-color: black;
    display: flex;
    width: 80%;
}

.entity {
    display: inline-flex;
    font-size: .1em;
    transition: transform .1s linear;
    padding: 0;
    justify-content: center;
    position: absolute;
}

#alien-block{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    
}
.alien{
    position: relative;
    display: block;
    width: 3rem;
    height: 2rem;
    display: flex;
    font-size: .25rem;
}

.spaceship{
    width: 2rem;
    height: 1rem;
    bottom: 25vh;
    /* background: purple; */
}

.laser{
    background: lime;
    width: 2px;
    height: 10px;
    z-index: 100;
}

.hide{
    display: none !important;
}